@use "./variables";
@use "./layout";
@use "./components";
@use "./responsive";
@use './fonts';

// ================================
// =         GLOBAL RESET         =
// ================================
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;

}

// ================================
// =       TYPOGRAPHY HEADERS     =
// ================================
h1,
h2,
h3,
h4 {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 600;
}

p {
  white-space: pre-line;
}

